#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: opacity 0.5s ease-out;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.logo-loader {
    width: 80%;
    height: auto;
    /* animation: pulse 1.5s infinite ease-in-out; */
}

.logo-loader img {
    width: 100%;
    height: auto;
}

.loader-progress {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
}

.loader-progress-bar {
    height: 100%;
    width: 0%;
    background-color: #e81840;
    transition: width 1.5s cubic-bezier(0.28, 0.11, 0.32, 1); /* Apple-style smooth transition */
}

.loader-percentage {
    font-size: 113px;
    color: #333333;
    text-align: right;
    width: 100%;
    font-weight: 300; /* Lighter weight for elegance */
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--crimson);
}

.loader-motivation {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
    color: var(--crimson);
    align-items: center;
    gap: 20px;
    position: relative;
}

.line-loader {
    height: 2px;
    width: 0; /* Start with 0 width */
    background: var(--crimson);
    transition: width 0.5s ease-out;
}

/* Animation for line loaders */
@keyframes fillLine {
    from { width: 0; }
    to { width: 100%; }
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .loader-motivation {
        flex-direction: column;
        font-size: 30px;
        gap: 40px;
        align-items: flex-start;
        max-width: 95%;
    }

    .loader-percentage {
        font-size: 90px;
        bottom: 15px;
        text-align: left;
        left: 30px;
    }

    .loader-container {
        flex-direction: row !important;
    }

    .loader-progress {
        display: flex;
        width: 2px !important;
        height: 90% !important;
        flex-direction: column-reverse;
    }
    .loader-progress-bar {
        width: 100%;
    }
}

@media (max-width: 480px) {

}

